
*.vsidx
/.vs/Goorge/v17/.suo
/.vs/Goorge/FileContentIndex
/obj
/obj/
/bin/
bin/x64/Goorge.exe
bin/x64/Goorge.pdb
obj/x64/Debug/Goorge.csproj.CoreCompileInputs.cache
obj/x64/Debug/Goorge.csproj.FileListAbsolute.txt
obj/x64/Debug/Goorge.exe
obj/x64/Debug/Goorge.pdb
